mavsdk
asyncio
google.generativeai
argparse
flask
opencv-python
pynput
flask_socketio
ultralytics
ollama
tensorflow
tensorflow_hub
tensorflow_text
scikit-learn
nltk
wordcloud
babel
transformers
tabulate
deep-sort-realtime
paramiko